.releases-list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: auto;

	> li {
		color: var(--text-color);

		&:hover {
			background-color: var(--hover-background-color);
			color: var(--hover-text-color);
		}

		&.selected {
			background-color: var(--selected-background-color);
			color: var(--selected-text-color);
		}
	}

	> li + li {
		border-top: 1px solid var(--border-color);
		padding-top: 0.5rem;
	}
}
